<div class="container mt-5">
  <h1>Add a new category here:</h1>
    <%= simple_form_for(@category) do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: "btn btn-dark" %>
    <% end %>
  <%= link_to 'back', categories_path, class: "btn btn-dark my-2" %>
</div>
