<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
            <% if @category.photo.attached? %>
              url( '<%= cl_image_path @category.photo.key, height: 300, width: 400, crop: :fill %>' )
            <% else %>
              url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)
            <% end %>
              ;">
  <div class="container">
    <h2 style="color: grey;"><%= @category.name %></h2>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between align-items-center py-3">
    <h2>Recipes</h2>
    <%= link_to "Add a recipe", new_category_bookmark_path(@category), class: "btn btn-primary" %>
  </div>
</div>

<div class="card-container">
  <% @category.bookmarks.each do |bookmark| %>
    <div class="card-recipe m-3">
      <%= image_tag bookmark.recipe.image_url %>
      <div class="p-3">
        <h3 class="card-title"><%= bookmark.recipe.name %></h3>
        <p class="card-text"><%= bookmark.recipe.description %></p>
      </div>
      <div class="card-recipe-infos">
        <h6><%= bookmark.comment %></h6>
        <h6><%= bookmark.recipe.rating %></h6>
        <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
