<h2><%= @category.name %></h2>

<ul>
<% @category.bookmarks.each do |bookmark| %>
  <li>
<h4><%= bookmark.recipe.name %> |</h2> <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<p><%= bookmark.recipe.description %></p>
<p><%= bookmark.recipe.rating %></p>
<p><%= bookmark.comment %></p>
</li>
<% end %>
</ul>

<div class="mx-5"><%= link_to "Back to all categories", categories_path %></div>
<div class="mx-5"><%= link_to "Add a new crecipe to your list", new_category_bookmark_path(@category) %></div>
